.nav-background {
	background-color: $darkgrey;
}

.nav-background ul {
	background: transparent;
}

.menu-text {
	color: white;
}

.top-bar .active {
	font-weight: bold;
}

.top-bar li a {
	color: #00BFFF;
}